body {
  font-family: 'Press Start 2P', cursive;
  background-color: #e8f6e8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: whitesmoke; 
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

label {
  display: block;
  font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type = "date"]{
width: 100%; 
margin: 0 auto; 
display: block;
padding: 10px;
font-size: 18px;
border-radius: 3px;
border: 1px solid #ccc;
box-sizing: border-box;
}

.createAccountButton {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

.createAccountButton:hover {
  background-color: #45a049;
}