canvas {
  border: 1px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}


/* Apply font and set background color */
body {
  font-family: 'Press Start 2P', cursive; 
  background-color: #e8f6e8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the container */
div {
  background-color: white; 
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  width: 500px; 
  height: 270px; 
}

/* Style for the heading */
h2 {
  margin-bottom: 20px; 
  font-size: 24px; 
}

/* Style for the form */
form {
  text-align: center;
}

/* Style for labels and input fields */
label,
input[type="text"],
input[type="password"] {
  display: block;
  margin-bottom: 15px;
  margin: 0 auto; 
  font-size: 18px; 
}

/* Style for the submit button */
.submitButton {
  background-color: #4CAF50; 
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px; 
  border-radius: 3px;
  font-family: 'Press Start 2P', cursive; 
  font-size: 18px;
}

.submitButton:hover {
  background-color: #45a049; 
}

 .loginButton {
  position: relative;
  top: -370px;
  right: -655px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* .createAccountButton {
  
} */